body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.black-square {
    width: 20vw;
    height: 20vw;
    background-color: black;
}

